/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,400;1,500&display=swap");

/* Global Variable */
:root {
  --main: #fc0000;
  --box_shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.4),
    inset 10px 10px 10px -10px rgba(0, 0, 0, 0.9);
}

*::selection {
  background: var(--main);
  color: #fff;
}

* {
  transition: 0.3s;
  font-family: "Besley", serif;
}

html::-webkit-scrollbar {
  width: 10px !important;
}

html::-webkit-scrollbar-thumb {
  background: var(--main) !important;
}

html::-webkit-scrollbar-track {
  background: #000 !important;
}

.btn {
  width: 150px;
  background: var(--main);
  color: #fff !important;
  border-radius: 15px;
  transition: 0.2s;
}

.btn:hover {
  /* background: #000 !important; */

  letter-spacing: 3px;
}

/* Navbar */
.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.navbar.scroll {
  background: #000000;
  padding: 4px;
}

.navbar-brand {
  font-size: 3em;
  color: #fff !important;
  padding: 0px 60px;
}

.navbar-brand span {
  font-size: 1.5em;
  color: var(--main) !important;
  font-weight: 500;
}

.navbar-nav {
  padding: 0px 60px;
  margin-top: 10px;
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: var(--main) !important;
}

/* Header */
.header {
  position: relative;
}

.header img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.Overlay,
.speaker .box .Overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.4;
  z-index: 1;
}

.header .Content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 8px;
  text-align: center;
  z-index: 2;
}

.header .Content h6 {
  font-size: 30px;
  font-weight: 200;
}

.header .Content h6 span {
  font-size: 2px;
  color: var(--main);
}

.header .Content #counter {
  font-size: 80px;
}

.header .carousel-control-prev,
.header .carousel-control-next {
  z-index: 2;
}

/* About us Section */
.about {
  margin: 30px auto;
}

.about .col-sm-4 {
  margin-top: 70px;
}

.about .col-sm-4 h6 {
  font-size: 30px;
  font-weight: 600;
  color: var(--main) !important;
}

.about .col-sm-4 h5 {
  font-size: 50px;
  font-weight: 600;
}

.about .second_row {
  background: #000;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.about .second_row h6 {
  font-size: 50px;
  font-weight: 600;
}

.about .second_row h6 span {
  color: var(--main) !important;
  font-weight: 600;
  font-size: 55px;
}

/* custom Section Start */
.custom {
  margin-bottom: 200px;
}

.custom .box {
  overflow: hidden;
}

.custom img {
  width: 100vw !important;
}

.custom .box:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

.custom .col-sm-4 h6 {
  font-size: 40px;
  font-weight: 800;
  margin-top: 20px;
}

.custom .col-sm-4 p {
  font-size: 13px;
  margin: 10px auto;
}

.custom .third_row {
  background: #000;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.custom .third_row h6 {
  font-size: 40px;
  font-weight: 800;
}

.custom .third_row h6 span {
  color: var(--main) !important;
  font-size: 45px;
  text-decoration: underline;
}

/* Custom Section End */

/* Second Header Start */
.second_header {
  position: relative;
  margin-bottom: 200px;
}

.second_header img {
  height: 60vh;
  width: 100%;
  object-fit: cover;
}

.second_header .SecondHeaderContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  text-align: center;
}

.second_header .SecondHeaderContent h6 {
  font-size: 60px;
  font-weight: 700;
}

.second_header .SecondHeaderContent #counter1 {
  font-size: 70px;
}

/* Timeline */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

.container:nth-child(1) {
  animation-delay: 0s;
}

.container:nth-child(2) {
  animation-delay: 1s;
}

.container:nth-child(3) {
  animation-delay: 2s;
}

.text-box {
  padding: 20px 30px;
  background: #000000;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
  color: #fff;
}

.left-container {
  left: -30%;
}

.right-container {
  right: -30%;
}

.container img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}

.right-container img {
  left: -20px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #ee0909;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: -1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #000000;
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: -1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid hsl(0, 0%, 0%);
  left: -15px;
}

/* Speaker Section Sta1rt */
#team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
}

.team-slider-box {
  width: 100%;
  padding: 20px;
  user-select: none;
}

.t-s-img {
  position: relative;
  height: 350px;
}

.t-s-img::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 150px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
}

.t-s-img img {
  filter: grayscale(1);
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
  display: flex;
}

.t-s-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.t-s-text strong,
.t-s-text a {
  color: #030303;
  font-weight: 700;
  font-size: 1.2rem;
}

.t-s-text span {
  color: #1d1b1b;
  font-size: 0.9rem;
}

.team-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-social a {
  margin: 0px 5px;
  color: #000000;
  transition: all ease 0.3s;
  font-size: 0.9rem;
}

.team-social a:hover {
  color: #ee0909;
}

.swiper {
  max-width: 745px;
  width: 100%;
}


.swiper-slide {
  max-width: 300px !important;
  width: 90%;
  opacity: 0.2;
  margin: 50px 0px;
  margin-top: 0px;
}

.swiper-slide-active {
  border: 10px solid #ee0909;
  opacity: 1;
}

.team-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 101;
}

.team-heading h3 {
  color: #ffffff;
  font-size: 3rem;
  text-transform: lowercase;
}

@media(max-width:724px) {
  .team-heading h3 {
    font-size: 2.6rem;
  }
}

@media(max-width:300px) {
  .t-s-img {
    height: 280px;
  }
}


/* Speaker Section End */

/* Footer */
footer {
  background: #000;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #fff !important;
  font-size: 25px;
}

/* Committee Section */

.wrapper {
  background: #fff;
  width: 580px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
  margin-left: 32%;
  margin-bottom: 1%;
}
.wrapper h2 {
    text-align: center;
  }
.wrapper hr {
  width: 100px;
  margin: 10px auto;
}

.members {
  display: flex;
}

.team-mem {
  margin: 8px;
}

.wrapper img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}

.wrapper h4,
p {
  text-align: center;
  font-size: 12px;
  margin: 7px;
}

/* Venue Section */
.map {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
  background-color: #ffffff;
  max-height: 800vh;
}

.venue {
  max-width: 600px;
  font-size: 5em;
}

.venue h1 {
  font-weight: 600;
}

.venue span {
  font-weight: 500px;
  color: #ee0909;
  font-size: 80px;
}

iframe {
  border-radius: 2em;
  border: none;
  width: 400px;
  height: 300px;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

iframe:hover {
  transform: scale(1.1);
  opacity: 1;
}